:root {
  --Black: #000;
  --White: #FFF;
}

*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
}

body, html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  
}

body {
  max-width: 160rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  margin: 1rem;
}

.container {
  color: var(--White);
  max-width: 160rem;
  padding: 1.6rem 3.2rem;
  background: linear-gradient(180deg, #2D003F 1.81%, #036 97.06%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 0 0 2rem 2rem;
}

.container h2 {
  font-size: 2.4rem;
}

.container p {
  padding: 0 12rem;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.container form input, .container button {
  padding: .75rem;
  margin-left: 1rem;
  border: none;
  border-radius: .2rem;
}

.container button {
  width: 20rem;
  background-color: var(--Black);
  color: var(--White);
  border-radius: .5rem;
  margin: 0;
}

.container nav ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 15rem;
}

.container nav ul li a,
.container nav ul li a:visited,
.container nav ul li a:active {
  padding-left: 2.5rem;
  color: var(--White);
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
  text-align: center;
}

.container nav ul li a:hover {
  color: var(--Black);
}

.container nav ul li:first-child {
  list-style: none;
}

@media (max-width: 1080px) {
  body, html {
    font-size: 55%;
  }

  .container p {
    padding: 0 6rem;
  }
}

@media (max-width: 920px) {
  body, html {
    font-size: 50%;
  }
}

@media (max-width: 780px) {
  body, html {
    font-size: 40%;
  }

  .container form {
    gap: 3rem;
  }
}

@media (max-width: 620px) {
  body, html {
    font-size: 35%;
  }

  .container nav ul {
    gap: 3rem;
    margin-top: 10rem;
  }
  .container nav ul li a,
  .container nav ul li a:visited,
  .container nav ul li a:active {
    padding-left: 1rem;
}
.container form {
  gap: 1rem;
}
}